@import "_variables.less";
@import 'colors.less';

.button {
  display: inline-block;
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
  color: #444;
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: inherit;
  font-weight: bold;
  text-align: center;
  height: @control-height-default;
  cursor: pointer;
  line-height: @control-height-default;
  min-width: 54px;
  padding: 0 8px;
  text-decoration: none;
  /*velho*/
  //white-space: nowrap;
  //  top: 0;
  //border-radius: 4px;
  //  position: relative;
  //border: none;
  //background: none;
  //font-family: 'Roboto', sans-serif;
  //width: 200px;
  //height: @control-height-default;
  //cursor: pointer;
  //transition:0.1s all ease;
  //font-size : 16px;
  //font-weight: 300;
  text-shadow: 0 1px rgba(0,0,0,.2);
  //color: #777;
  //border-bottom: 1px solid #ccc;
  //box-shadow: 0 0 0 0 #B8B8B8;
  outline: none;
  //-webkit-transition: all 60ms ease-in-out;
  //transition: all 60ms ease-in-out;
  transition: 0.1s all ease;
  -webkit-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  //margin: 1px 5px;
  &:hover {
    background-color: #F8F8F8;
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
    border: 1px solid #C6C6C6;
    color: #333;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
  }
  &:disabled {
    opacity: 0.65;
    cursor: not-allowed;
    pointer-events: none;
  }
  &.small {
    //flat small
    width: 150px;
    height: @control-height-small;
    line-height: @control-height-small;
  }
  &.xsmall {
    //flat xsmall
    width: 100px;
    height: @control-height-xsmall;
    line-height: @control-height-xsmall;
    font-size: 1rem;
  }
  &:focus {
    outline: 0;
  }
  &:active {
    //primary active
    top: 0;
    //height:50px;
    border: 1px solid #ccc;
    background-color: #ededed;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
  }
}

/*----------------------------------------------------------------------------*/

/* Botão Amarelo */
.button__is-yellow {
  background-color: @default__is-yellow;
  background-image: -webkit-linear-gradient(top,@default__is-yellow,darken(@default__is-yellow, 5%));
  background-image: -moz-linear-gradient(top,@default__is-yellow,darken(@default__is-yellow, 5%));
  background-image: -ms-linear-gradient(top,@default__is-yellow,darken(@default__is-yellow, 5%));
  background-image: -o-linear-gradient(top,@default__is-yellow,darken(@default__is-yellow, 5%));
  background-image: linear-gradient(top,@default__is-yellow,darken(@default__is-yellow, 5%));
  border: 1px solid darken(@default__is-yellow, 5%);
  color: #fff !important;
}

.button__is-yellow:hover {
  background-color: @default__is-yellow;
  background-image: -webkit-linear-gradient(top,@default__is-yellow,darken(@default__is-yellow, 10%));
  background-image: -moz-linear-gradient(top,@default__is-yellow,darken(@default__is-yellow, 10%));
  background-image: -ms-linear-gradient(top,@default__is-yellow,darken(@default__is-yellow, 10%));
  background-image: -o-linear-gradient(top,@default__is-yellow,darken(@default__is-yellow, 10%));
  background-image: linear-gradient(top,@default__is-yellow,darken(@default__is-yellow, 10%));
  border: 1px solid darken(@default__is-yellow, 10%);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

/* Botão Azul */
.button__is-blue {
  background-color: @default__is-blue;
  background-image: -webkit-linear-gradient(top,@default__is-blue,darken(@default__is-blue, 5%));
  background-image: -moz-linear-gradient(top,@default__is-blue,darken(@default__is-blue, 5%));
  background-image: -ms-linear-gradient(top,@default__is-blue,darken(@default__is-blue, 5%));
  background-image: -o-linear-gradient(top,@default__is-blue,darken(@default__is-blue, 5%));
  background-image: linear-gradient(top,@default__is-blue,darken(@default__is-blue, 5%));
  border: 1px solid darken(@default__is-blue, 5%);
  color: #fff !important;
}

.button__is-blue:hover {
  background-color: @default__is-blue;
  background-image: -webkit-linear-gradient(top,@default__is-blue,darken(@default__is-blue, 10%));
  background-image: -moz-linear-gradient(top,@default__is-blue,darken(@default__is-blue, 10%));
  background-image: -ms-linear-gradient(top,@default__is-blue,darken(@default__is-blue, 10%));
  background-image: -o-linear-gradient(top,@default__is-blue,darken(@default__is-blue, 10%));
  background-image: linear-gradient(top,@default__is-blue,darken(@default__is-blue, 10%));
  border: 1px solid darken(@default__is-blue, 10%);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

/* Botão Vermelho */
.button__is-red {
  background-color: @default__is-red;
  background-image: -webkit-linear-gradient(top,@default__is-red,darken(@default__is-red, 5%));
  background-image: -moz-linear-gradient(top,@default__is-red,darken(@default__is-red, 5%));
  background-image: -ms-linear-gradient(top,@default__is-red,darken(@default__is-red, 5%));
  background-image: -o-linear-gradient(top,@default__is-red,darken(@default__is-red, 5%));
  background-image: linear-gradient(top,@default__is-red,darken(@default__is-red, 5%));
  border: 1px solid darken(@default__is-red, 5%);
  color: #fff !important;
}

.button__is-red:hover {
  background-color: @default__is-red;
  background-image: -webkit-linear-gradient(top,@default__is-red,darken(@default__is-red, 10%));
  background-image: -moz-linear-gradient(top,@default__is-red,darken(@default__is-red, 10%));
  background-image: -ms-linear-gradient(top,@default__is-red,darken(@default__is-red, 10%));
  background-image: -o-linear-gradient(top,@default__is-red,darken(@default__is-red, 10%));
  background-image: linear-gradient(top,@default__is-red,darken(@default__is-red, 10%));
  border: 1px solid darken(@default__is-red, 10%);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

/* Botão Verde */
.button__is-green {
  background-color: @default__is-green;
  background-image: -webkit-linear-gradient(top,@default__is-green,darken(@default__is-green, 5%));
  background-image: -moz-linear-gradient(top,@default__is-green,darken(@default__is-green, 5%));
  background-image: -ms-linear-gradient(top,@default__is-green,darken(@default__is-green, 5%));
  background-image: -o-linear-gradient(top,@default__is-green,darken(@default__is-green, 5%));
  background-image: linear-gradient(top,@default__is-green,darken(@default__is-green, 5%));
  border: 1px solid darken(@default__is-green, 5%);
  color: #fff !important;
}

.button__is-green:hover {
  background-color: @default__is-green;
  background-image: -webkit-linear-gradient(top,@default__is-green,darken(@default__is-green, 10%));
  background-image: -moz-linear-gradient(top,@default__is-green,darken(@default__is-green, 10%));
  background-image: -ms-linear-gradient(top,@default__is-green,darken(@default__is-green, 10%));
  background-image: -o-linear-gradient(top,@default__is-green,darken(@default__is-green, 10%));
  background-image: linear-gradient(top,@default__is-green,darken(@default__is-green, 10%));
  border: 1px solid darken(@default__is-green, 10%);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

/* Botão Roxo */
.button__is-purple {
  background-color: @default__is-purple;
  background-image: -webkit-linear-gradient(top,@default__is-purple,darken(@default__is-purple, 5%));
  background-image: -moz-linear-gradient(top,@default__is-purple,darken(@default__is-purple, 5%));
  background-image: -ms-linear-gradient(top,@default__is-purple,darken(@default__is-purple, 5%));
  background-image: -o-linear-gradient(top,@default__is-purple,darken(@default__is-purple, 5%));
  background-image: linear-gradient(top,@default__is-purple,darken(@default__is-purple, 5%));
  border: 1px solid darken(@default__is-purple, 5%);
  color: #fff !important;
}

.button__is-purple:hover {
  background-color: @default__is-purple;
  background-image: -webkit-linear-gradient(top,@default__is-purple,darken(@default__is-purple, 10%));
  background-image: -moz-linear-gradient(top,@default__is-purple,darken(@default__is-purple, 10%));
  background-image: -ms-linear-gradient(top,@default__is-purple,darken(@default__is-purple, 10%));
  background-image: -o-linear-gradient(top,@default__is-purple,darken(@default__is-purple, 10%));
  background-image: linear-gradient(top,@default__is-purple,darken(@default__is-purple, 10%));
  border: 1px solid darken(@default__is-purple, 10%);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
